.login {
  border: none;
  border-bottom: solid;
}

.modal-dismiss {
  float: right;
}

.modal-heading {
  cursor: default;
}

.item-intro {
  width: 93%;
  color: blue;
  cursor: pointer;
}

span {
  color: #e5bc31;
}

#txtArea-announcement, #save-announcement, #header-announcement{
  margin-left: 1%;
}

#txtArea-announcements{
  margin-top: -18%;
}

#txtArea-announcements{
  background-color: rgb(52, 58, 64);
  color: white;
}


#txtArea-blotter{
  margin: 4%;
}

#announcement-header{
  margin-bottom: -4%;
  margin-top: -1%;
}


#save-blotter{
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 12%;
  margin-right: 12%;
}

